/* main.css */

/* Global Styles */
:root {
    --primary-color: #1E90FF;
    --secondary-color: #ffffff;
    --text-color: #333;
    --background-color: #f9f9f9;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 20px;
}

picture img {
    width: 100%;
    height: auto;
}

/* Weather Section */
#weather {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-info svg {
    width: 50px;
    height: 50px;
}

.wider-view-icon {
    display: none;
}

@media (min-width: 800px) {
    .mobile-only {
        display: none;
    }
    .wider-view-icon {
        display: inline-block;
        font-size: 2rem;
    }
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* Responsive Design */
@media (max-width: 799px) {
    body {
        font-size: 16px;
    }
}

h1::after {
    content: ' 🌟';
    font-size: 1.5rem;
    color: gold;
}